.vertical-nav {
  width: 200px;
  height: 100vh;
  background-color: #ffffff;
  color: black;
  flex-shrink: 0; 
}

.vertical-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.vertical-nav a {
  display: block;
  padding: 15px 20px;
  color: black;
  text-decoration: none;
  transition: background 0.3s;
}

.vertical-nav a:hover {
  background-color: #5a5a5a;
}

.vertical-nav a.active {
  background-color: #789cff;
}

.active {
  font-weight: bold;
  color: black;
}
